h1 {
    text-align: center;
    color: khaki;
    font-size: 100px;
    background-image: url(../images/tile-pattern.webp);
}

h2 {
    color: white;
    font-size: 32px;
}

a {
    color: blue;
}

.green-background {
    background-color: mediumspringgreen;
}

.coral-background {    
    background-color: lightcoral;
}

.blue-background {
    background-color: skyblue;
}

.bold {
    font-weight: bold;
}

.helvetica {
    font-family: Helvetica;
}