/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    font-family: Helvetica;
    font-size: 22px;
    font-weight: bold;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    box-sizing: border-box;
    line-height: 2em;
}

header {
    position: fixed;
    height: 69px;
    width: 100%;
    z-index: 2;
    border-bottom: 1px solid seashell;
    padding-top: 10px;
}

#logo {
    content: url(../images/tea-cozy-logo.png);
    height: 50px;
    width: auto;
    float: left;
    margin-left: 10px;
    vertical-align: middle;
}

header ul {
    position: absolute;
    bottom: 10%;
    right: 10%;
    list-style: none;
    width: auto;
}

header ul li {
    display: inline-block;
    list-style: none;    
    text-decoration: underline;
    margin-left: 20px;
    opacity: 1;
    font-size: 1.75em; 
}

main {
    width:100%;
}

.banner-section {
    width: 95%;
    margin:auto;    
}

h2 {
    font-size: normal;
    font-weight: bold;
}

h4 {
    font-size: 0.8em;
}

.container {
    padding-top: 69px;
    position: relative;
}

#banner-img {
    height: 700px;
    width: 100%;
    content: url(../images/mission-background-jar.jpg);
    object-fit:cover;
}

.mission-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 3;
    height: auto;
   
}

.tea-container {
    
    display: inline-flex;
    flex-wrap: wrap;
    flex: 0 1 1000px;
    max-width: 1000px;
    justify-content: center;
}

figure {
    margin: 10px 10px 25px 10px;
    position: relative;
}

figcaption {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: none;
    font-size: 1.2rem;
    width: fit-content;
}

.tea-container img {
    display: inline-flex;
    flex: 0 1 300px;
    height: 200px;
    width: 300px;
    min-width: 0;
    margin-bottom: 10px;    
}

/*Location section styles*/
.locations-section {
    width: 100%;
    margin: auto;
    
}

.locations-section .container{
    position:relative;
    width: 95%;
    left:2.5%;
    display: flex;
    justify-content: center;
}

#locations-img {
    content: url(../images/locations-background-coffee.jpg);
    width: 100%;
    object-fit:cover;
    height: 500px;
}

#locations-header {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 5;
    background: none;
    font-size: larger;
}

.location-div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 66%;    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;    
}

.container h3 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 5%);
    
}

.location-one {
    display: flex;
    left: 0%;
    transform: translate(25%, -40%);
    flex: 1 0 300px;
}

.location-two {
    display: flex;
    left: 50%;
    transform: translate(-50%, -40%);
}

.location-three {
    display: flex;
    left: 100%;
    transform: translate(-125%, -40%);
}

.location-div p {
    width: auto;
    position: static;
    transform: translate(0, 100%);
    font-weight: 525;
}

/*Footer style*/
footer {
    font-family: Helvetica;
    font-weight: 600;
    height: 230px;
    width: 100%;
    
    padding-top: 5px;
}

footer h2 {
    font-size: 2rem;
}

.contact {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height:200px;
}

.copyright {
    float: left;
    
    margin-left: 20px;
    margin-bottom: 15px;
    padding: 0;
    line-height: 0px;
}