

/*
Photo by Joel & Jasmin Førestbird on Unsplash
*/








/* Universal styles */
* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    
    background-color: rgb(245, 245, 245);
    height: auto;
    text-align: center;
    color: tan;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

/* Header styles */

header {
    position: fixed;
    height: 5rem;
    width: 100%;
    border-bottom: 1px solid grey;
    background-color: saddlebrown;
    align-items: center;
    z-index: 10;
    
}

header .content {
    display:flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-content: center;
    padding: 0.4rem 1.25rem;
    font-weight: bold;
}

#logo {
    
    background-image: url("../images/log_logo.jpg");
    background-size: cover;
    background-position-x: center;
    height:100%;
    width: 4.5rem;
    padding: 0.2rem;
    border-radius: 50%;
    
}

header nav {
    margin: auto;
    flex-basis: 40rem;
    padding-right: 4.5rem;
}
nav ul {
    width: auto;
}

nav ul li{
   display: inline-block;
   padding: 0 5%;
   border-radius: 5%;
   background-color: sienna;
}

/* Main content styles */

h1 {
    font-size: 8rem;    
    font-weight: bold;
}

.grid {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(8, 1fr);
    justify-items: center;
    align-items: center;

}

.splash-page {

    top: 5rem;
    height: 60rem;
    background-image: url("../images/company_page/joel-jasmin-forestbird.jpg");
    background-size:auto;
    box-shadow:inset 2px -2px 20px 20px;
}

.splash-page .container {
    grid-area: 4 / 6 / span 1 / span 3;
    background-color: wheat;
    opacity: 0.8;
    border-radius: 10px;
}

.splash-page .more {
    grid-area: 8 / 7 / span 1 / span 1;
    padding: 0 1rem;
    /* background-color: wheat; */
    opacity: 1;
    border-radius: 5%;
    width: 100%;
    font-size: larger;  
    
}

.more a {
    display: block;
    font-size: 24px;    
    font-weight: bold;
    width: inherit;
    color: #ff661a;
}

.more a img {
    content: url("../images/company_page/output-onlinepngtools.png");
    max-width: 100%;
    width: inherit;
    height: 25%;
}

/* Main section styles */

.grid.main-content {
    grid-template-columns: repeat(12, 1fr);
    background-color:wheat;
    height: auto;      
}

.content {
    width: 80%;
    margin: 0 auto;
    color: crimson;
}

.main-content h2 {
    padding-top: 5%;
    font-size: 2.7rem;
    
}

.main-content p {
    padding-top: 5%;
    
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.6;
    text-align: center;
}

.work-container {
    box-shadow: inset 2px -2px 20px 20px; 
    grid-area: 1 / 1 / span 8 / span 6;
    width: 100%;
    min-height: 50rem;
    height: 100%;
    background-image: url(../images/company_page/alexandre-jaquetoni-6yelWDI3RE8-unsplash.jpg);
    background-size: cover;
    background-color: tan;
    background-blend-mode: multiply;
}

.passion-container {
    box-shadow: inset 2px -2px 20px 20px; 
    grid-area: 1 / 7 / span 8 / span 6;
    width: 100%;
    min-height: 50rem;
    height: 100%;
    background-image: url(../images/company_page/clem-onojeghuo-hdW4rZPHe2g-unsplash.jpg);
    background-size: cover;
    background-color: tan;
    background-blend-mode: multiply;
}

.cta {
    grid-area: 3 / 6 / span 2 / span 2;
    font-weight: bold;
    text-align: center;
    background-color: yellowgreen;
    color: whitesmoke;
    padding: 1rem;
    border-radius: 5px;
}

/* Footer styles */

footer {
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    height: auto;
    background-color: saddlebrown;
    align-content: center;
    font-weight: 550;
    line-height: 1.6;
}

.footer h2 {
    font-size: 2.5rem;
}

.footer-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;    
}

.email {
    display: inline-block;
    width: fit-content;
    justify-self: center;
}


.credit {
    align-self: end;
    justify-self: end;
    color: tan;
    line-height: 1.6;
    display: inline-block;
    width: fit-content;
}


